body {
    background-color: #1c3144;
}
#logo {
    background-color: #7c90a0;
    width: 25%; height: 280px;  
}
nav {
    background-color: #54c7c0;
    position: relative;
    left: -20px;
    width: 160px; height: 9999px;
    
}
header {
    background-color: #54c7c0;
    width: 75%; height: 280px;
    margin-left: 25%;
    margin-top: ;
}
#logo_image {
    margin-left: 35px;
    width: 172; height: 275;
}